body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

ul.list-group a {
    text-decoration: none;
    color: #007bff;
}

ul.list-group a:hover {
    color: #0056b3;
}

.container {
    max-width: 800px;
    margin: auto;
}

.underprogress {
    width: auto;                  
    font-size: 6rem;              
    border: 1px black solid;     
    height: max-content;          
    padding: 20px;                
    margin: 20px auto;            
    text-align: center;           
    background-color: #f8f9fa;    
}
